#preloader {
  left: 50%;
  margin: 15px 0;
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.list-users {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
}

.user-container {
  margin: 15px 10px
}

.btn-margin {
  margin-left: 10px;
}

.users-info {
  font-size: 15px;
  font-weight: bold;
  color: #00695c;
  position: relative;
}

.material-icons {
  color: black;
  position: absolute;
  bottom: 1px;
  margin-left: 5px;
}